#AdultPressLogo{
    height: 25px;
}
#app-footer{
    display: block;
    vertical-align: bottom;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    margin: 0;
    padding: 1em;
    min-width: 100%;
    text-align: center;    
}

.footer{
    min-height: 50px; 
}

body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.fullcontainer{
    width: 100%;
}